<h1 id='subject'>{{conversation.subject}}</h1>

<div class='row'>
    {{#each messages}}
    <div class='message-bubble'>
        <p><strong>{{this.fromName}}: </strong>{{this.message}} (<span class='time' id='{{this.time}}'></span>)</p>
    </div>
    {{/each}}
</div>

<form action='/reply' method='post'>
    <textarea class='form-control' rows='4' cols='50' name='message'></textArea>
    <input type="hidden" name="conversationID" value={{conversation._id}}>
    <input type="hidden" name="fromID" value={{user._id}}>
    <input type="hidden" name="fromName" value={{user.username}}>
    <button type='submit' id='newMessage' class='btn btn-success'>Send New Message</button>
</form>

<script type='text/javascript'>

    $(document).ready(function(){
        $('.time').each(function(){
            var time = $(this).attr('id');
            
            if(!isNaN(time) && time != 0){
                $(this).html(parseDate(parseInt($(this).attr('id'))));
            }
        })
        
    })
    
    function parseDate(time) {
        return moment(time).fromNow();
    };
    
</script>