{{#if user}}
<h1>{{#if user.profile}}Edit{{else}}Create{{/if}} profile for {{user.username}}</h1>
<form action='editProfile' method='post'>
    <input type="hidden" name="userID" value={{user._id}}>
    <div>
        <label>Enter typical mile pace: </label>
            <div class="dropdown">
                <select class="form-control" id="pace" name='pace'>
                  <option value="7">7:00</option>
                  <option value="7.5">7:30</option>
                  <option value="8">8:00</option>
                  <option value="8.5">8:30</option>
                  <option value="9">9:00</option>
                  <option value="9.5">9:30</option>
                  <option value="10">10:00</option>
                  <option value="10.5">10:30</option>
                  <option value="11">11:00</option>
                  <option value="11.5">11:30</option>
                </select>
            </div>
    </div>
    <div>
        <label>Enter typical mileage: </label>
        <select class="form-control" id="distance" name='distance'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
    </div>
    <div>
        <label>Start coordinates (exact location will not be shown to other users): </label><br>
        Latitude:<input type='text' name='lat' id='lat' {{#if user.profile}}value={{user.profile.lat}}{{/if}}><br>
        Longitude:<input type='text' name='lon' id='lon' {{#if user.profile}}value={{user.profile.lon}}{{/if}}><br>
        <br>
        <div class='form-input'>
            <label for='addressInput'>Get location from address:</label>
            <input type='text' id='addressInput' value='Enter address'>
            <button class='btn' id='getLocationFromGoogle'>Get</button>
        </div>
        <p>-or-</p>
        <div class='form-input'>
            <label for='addressInput'>Get location from device:</label>
            <button type='button' id='getLocationFromDevice' data-toggle="tooltip" title="Requires secure connection (https)" class='btn'>Get</button>
        </div>
    </div>
    <div>
        <input type="submit" value={{#if user.profile}}'Save'{{else}}'Create'{{/if}}/>
    </div>
</form>
{{/if}}

<script type='text/javascript'>
    
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
        }
    }
    function showPosition(position) {
        $('#lat').val(position.coords.latitude);
        $('#lon').val(position.coords.longitude); 
    }
    
    document.getElementById('getLocationFromDevice').onclick = function(){
        getLocation();
    }
    
    $('#getLocationFromGoogle').click(function(){
        var address = $('#addressInput').val();
        $.ajax({
            url: 'https://maps.googleapis.com/maps/api/geocode/json',
            data: {'address': address},
            dataType: 'json',
            success: function(r){  
               $('#lat').val(r.results[0].geometry.location.lat);
               $('#lon').val(r.results[0].geometry.location.lng); 
            }, 
            error: function(e){ 
               console.log('error', e); 
            }
        })
    })
</script>