{{#if user}}
<h1>{{#if user.profile}}Edit{{else}}Create{{/if}} profile for {{user.username}}</h1>
<form action='editProfile' method='post'>
    <input type="hidden" name="userID" value={{user._id}}>
    <div>
        <label>Enter typical mile pace: </label>
        <input type='text' name='pace' {{#if user.profile}}value={{user.profile.pace}}{{/if}}>
    </div>
    <div>
        <label>Enter typical distance: </label>
        <input type='text' name='distance' {{#if user.profile}}value={{user.profile.distance}}{{/if}}>
    </div>
    <div>
        <label>Enter start coordinates (exact location will not be shown to other users: </label><br>
        Latitude:<input type='text' name='lat' id='lat' {{#if user.profile}}value={{user.profile.lat}}{{/if}}><br>
        Longitude:<input type='text' name='lon' id='lon' {{#if user.profile}}value={{user.profile.lon}}{{/if}}><br>
        <button type='button' id='getLocation'>Get location from device</button>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
{{/if}}

<script type='text/javascript'>
    function getLatLong(callback) {
      $.getJSON('//freegeoip.net/json/', function(location) {
        $('#lat').val(location.latitude);
        $('#lon').val(location.longitude); 
        //callback(data);
        },
        function(error) {}, {
          timeout: 10000
        }
      )
    };
    
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        $('#lat').val(position.coords.latitude);
        $('#lon').val(position.coords.longitude); 
    }
    
    document.getElementById('getLocation').onclick = function(){
        getLocation();
    }
</script>