{{#if newMessages}}
    <h1>Inbox</h1>
    <div class='row'>
    <table class='table table-hover col-sm-12 users-table'>
        <tr>
            <th>Subject</th>
            <th>From</th>
            <th>Message</th>
            <th>Sent</th>
        </tr>
       {{#each newMessages}}
            <tr id='{{this.fromID}}' title='{{this.fromName}}'>
                <td class='col-sm-2'><strong>{{this.subject}}</strong></td>
                <td class='col-sm-2'>{{this.fromName}}</td>
                <td class='col-sm-6'>{{this.message}}</td>
                <td class='time col-sm-6' id='{{this.time}}'></td>
            </tr>
        {{/each}}
    </table>
    </div>
{{/if}}

<script type='text/javascript'>

    $(document).ready(function(){
        $('.time').each(function(){
            var time = $(this).attr('id');
            
            if(!isNaN(time) && time != 0){
                $(this).html(parseDate(parseInt($(this).attr('id'))));
            }
        })
    })
    
    function parseDate(time) {
        return moment(time).fromNow();
    };
    
    $('tr').click(function(){
        $('#message-title').html('Send message to ' + this.title);
        $('#messageForm #toID').val(this.id);
        $('#messageForm #toName').val(this.title);
        $('#messageForm #time').val(Date.now());
        $('.message').modal('show'); 
    })
</script>