{{#if infoArray}}
    <h1>Nearby Users</h1>
    <div class='row'>
       {{#each infoArray}}
            <div class='col-sm-4'>
                <a href='/sendMessage/{{this._id}}'>
                    <div class='user-box'>
                        <p><strong></strong>{{this.username}}</strong> <span class='glyphicon glyphicon-envelope'></span></p>
                        <p>Prefers ~{{this.profile.distance}} miles at {{this.profile.pace}} min/mile</p>
                        <p>Approximately {{this.separation}} miles {{this.direction}}</td>
                    </div>
                </a>
            </div>
        {{/each}}
    </table>
{{/if}}
