{{#if infoArray}}
<div class='container'>
    <h1>Nearby Users</h1>
    <table class='users-table'>
        <tr>
            <th>Name</th>
            <th>Pace (min/mile)</th>
            <th>Typical Mileage</th>
            <th>Separation (miles)</th>
            <th>Direction</th>
            <th>Message</th>
        </tr>
       {{#each infoArray}}
            <tr class='users-display'>
                <td>{{this.username}}</td>
                <td>{{this.profile.pace}}</td>
                <td>{{this.profile.distance}}</td>
                <td>{{this.separation}}</td>
                <td>{{this.direction}}</td>
                <td><a href='/sendMessage/{{this._id}}'>Send Message</a></td>
            </tr>
        {{/each}}
    </table>
</div>
{{/if}}
