{{#if infoArray}}
    <h1>Nearby Users</h1>
    <button class="btn btn-default" id='showFilter'>Filter</button>
    
    <div class='row'>
       {{#each infoArray}}
            <div class='col-sm-4'>
                <a>
                    <div class='user-box' id='{{this._id}}' title='{{this.username}}'>
                        <p><strong></strong>{{this.username}}</strong> <span class='glyphicon glyphicon-envelope'></span></p>
                        <p>Prefers ~{{this.profile.distance}} miles at {{this.profile.pace}} min/mile</p>
                        <p>Approximately {{this.separation}} miles {{this.direction}}</td>
                    </div>
                </a>
            </div>
        {{/each}}
    </table>
{{/if}}

{{!--Modal--}}
<div class="modal fade" id='filter-modal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Filter Users</h4>
        </div>
      
        <div class="modal-body">
                
            <form role="form" action='/listUsers' method='post'>
            <div>
                <label>Show users within: </label>
                <div class="dropdown">
                    <select class="form-control" name='maxSeparation'>
                      <option>2</option>
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Maximum pace difference: </label>
                <div class="dropdown">
                    <select class="form-control" name='filterPace'>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Maximum desired run distance difference: </label>
                <div class="dropdown">
                    <select class="form-control" name='filterDistance'>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                </div>
              <button type="submit" class="btn btn-default">Filter</button>
            </form>
        </div>
        
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.user-box').click(function(){
        $('#message-title').html('Send message to ' + this.title);
        $('#toID').val(this.id);
        $('#toName').val(this.title);
        $('#time').val(Date.now());
        $('.message').modal('show'); 
    })
    
    $('#showFilter').click(function(){
        $('#filter-modal').modal('show'); 
    })
</script>