{{#if infoArray}}
    <h1>Nearby Users</h1>
    
    <form class="form-inline" role="form" action='/listUsers' method='post'>
      <div class="form-group">
        <label for="text">Filter by: separation</label>
        <input type="text" class="form-control input-sm" name="maxSeparation" style="padding-right:20px; text-align:right;" value="100">
        <span style="margin-right:10px;">miles</span>
      </div>
      <div class="form-group">
        <label for="text">pace</label>
        <input type="text" class="form-control input-sm" name="filterPace" style="padding-right:20px; text-align:right;" value="2">
        <span style="margin-right:10px;">min/mile</span>
      </div>
      <div class="form-group">
        <label>run distance</label>
        <input type="text" class="form-control input-sm" name="filterDistance" style="padding-right:20px; text-align:right;" value="3">
        <span style="margin-right:10px;">miles</span>
      </div>
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
    
    <div class='row'>
       {{#each infoArray}}
            <div class='col-sm-4'>
                <a>
                    <div class='user-box' id='{{this._id}}' title='{{this.username}}'>
                        <p><strong></strong>{{this.username}}</strong> <span class='glyphicon glyphicon-envelope'></span></p>
                        <p>Prefers ~{{this.profile.distance}} miles at {{this.profile.pace}} min/mile</p>
                        <p>Approximately {{this.separation}} miles {{this.direction}}</td>
                    </div>
                </a>
            </div>
        {{/each}}
    </table>
{{/if}}

<div class="modal fade message" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
      
        <div class="modal-body">
                
            <form action='/sendMessage' method='post'>
                <input type="hidden" name="fromID" value={{user._id}}>
                <input type="hidden" name="toID" id='toID'>
                <input type="hidden" name="fromName" value={{user.username}}>
                <input type="hidden" name="toName" id='toName'>
                <textarea class='form-control' rows='4' cols='50' name='message'></textArea>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-default" value='send'/>
                </div>
            </form>
        </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.user-box').click(function(){
        $('.modal-title').html('Send message to ' + this.title);
        $('#toID').val(this.id);
        $('#toName').val(this.title);
        $('.message').modal('show'); 
    })
</script>