<h3>From {{from.username}}</h3>

<h1>{{#if to}}Send message to {{to.username}}{{/if}}</h1>
<form action='/sendMessage' method='post'>
    <input type="hidden" name="fromID" value={{from._id}}>
    <input type="hidden" name="toID" value={{to._id}}>
    <input type="hidden" name="fromName" value={{from.username}}>
    <input type="hidden" name="toName" value={{to.username}}>
    <div>
        <label>Message: </label>
        <textarea rows='4' cols='50' name='message'></textArea>
    </div>
    <div>
        <input type="submit" value="Send"/>
    </div>
</form>