<p>{{survey.question}}</p>

<form action="/answer" method="post">
    <input type="hidden" name="surveyID" value={{survey._id}}>
    {{#if user}}<input type="hidden" name="userID" value={{user._id}}>{{/if}}
    {{#each survey.valid_responses}}
      <input type='radio' name='response' value={{this}}>{{this}}<br>
    {{/each}}
    <div>
        <input type="submit" value="Answer"/>
    </div>
</form>

{{#if creator}}
    <p>created by {{creator.username}}</p>
{{else}}
    <p>creator not found</p>
{{/if}}
